import(Rcpp)
import(methods)
importFrom(stats, as.formula, aggregate, predict, density, quantile, update, approx, reshape)
importFrom(utils, stack, unstack, head, tail, download.file)
importFrom(graphics, hist, lines, image, rect, filled.contour, contour, persp, pairs, plot, text, boxplot, points, abline, legend, title, strheight, strwidth)
importFrom(grDevices, as.raster, terrain.colors, heat.colors, col2rgb, rainbow, dev.flush, dev.off, dev.new, xy.coords, png)
import(sp)
exportClasses(Extent, BasicRaster, Raster, RasterLayer, RasterBrick, RasterStack, RasterStackBrick)
exportMethods("[", "[[", "==", "!=", "!", adjacent, Arith, approxNA, area, as.array, as.character, as.vector, as.matrix, atan2, bandnr, barplot, boxplot, buffer, brick, calc, clamp, clump, Compare, cover, crop, crs, "crs<-", disaggregate, distance, erase, extent, extract, extend, flip, focal, geom, gridDistance, head, interpolate, intersect, image, is.factor, isLonLat, lines, log, Logic, mask, Math, Math2, mean, merge, mosaic, ncell, ncol, "ncol<-", nlayers, nrow, "nrow<-", overlay, plot, plotRGB, raster, rasterize, reclassify, res, resample, rotate, "$", "$<-", sampleRandom, sampleRegular, sampleStratified, stackSelect, shift, subset, subs, Summary, t, tail, trim, unique, unstack, union, xmin, xmax, xres, ymin, ymax, yres, zonal, yFromRow, xFromCol,colFromX, rowFromY, cellFromXY, cellFromRowCol, xyFromCell, yFromCell, xFromCell, rowColFromCell,rowFromCell, colFromCell, readStart, readStop, values, "values<-", writeStart, writeStop, writeValues, writeRaster, zonal, zoom)
useDynLib(raster, .registration = TRUE)
exportPattern("^[^\\.\\_]")

